@import "tailwindcss";

:root {
  font-family: "Poppins", sans-serif;
}
@theme {
  --font-primary: "Poppins", serif;

  --breakpoint-3xl: 120rem;

  --color-primary-100: #fce7f3;
  --color-primary-200: #4f46e5;
  --color-secundary-100: #d9eeff;
  --color-secundary-200: #5ab2fa;
  --color-secundary-300: #031d61;
}
